includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src

    level: 6

    phpVersion:
        min: 80200
        max: 80500
